@use "../variables.scss" as *;

.card-intro {
  position: relative;
  margin: 0 -40px 50px;
  box-shadow:
    0 0px 30px 0px rgba(0, 0, 0, 0.25),
    0 0px 30px 0px rgba(0, 0, 0, 0.25);

  background-color: var(--card-bg);

  @media (max-width: $mobile) {
    margin: 0 0px 30px;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    text-align: left;

    margin: 0 -40px;
    padding: 40px 200px;

    background-color: var(--bg);
    box-sizing: border-box;

    p {
      margin-bottom: 10px;
    }

    @media (max-width: $mobile) {
      flex-direction: column;
      padding: 40px;
      gap: 50px;
      text-align: center;
      margin: 0 -30px;
    }
  }

  .image-frame {
    position: relative;
    z-index: 1;

    @media (min-width: $desktop) {
      &:hover::before {
        transform: rotate(170deg);
      }
    }

    @media (max-width: $mobile) {
      &::before {
        animation: rotate 1s ease;

        @keyframes rotate {
          0% {
            transform: rotate(-170deg);
          }
          50% {
            transform: rotate(170deg);
          }
          70% {
            transform: rotate(170deg);
          }
          100% {
            transform: rotate(-170deg);
          }
        }
      }
    }
  }

  .image-frame::before {
    content: "";
    position: absolute;
    inset: 0;
    transform: rotate(-10deg);
    background-color: var(--c2);
    z-index: 0;
    margin: -20px 0;
    border-radius: 360px;
    transition: 0.5s ease;

    @media (max-width: $mobile) {
      margin: -10px 0;
    }
  }

  img {
    position: relative;
    z-index: 1;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 360px;
    border: 5px solid var(--grey);

    @media (max-width: $mobile) {
      width: 220px;
      height: 220px;
    }
  }

  .card-text {
    flex: 1;
    position: relative;
    z-index: 1;
  }
}
